### Standard stuff
node_modules
yarn-error.log
.env

### IPFS node data
data-js/*
data-go/*
!data-js/config
!data-js/version
!data-go/config
!data-go/version

### orbit node data
orbitdb*
ipfs-test-data

### tsc output
lib
